		<section>
			<div class="content dashbaord">
				<div class="in-content-wrapper">
					<div class="row no-gutters">

						<div class="col">
							<div class="heading-messages">
								<h3 style="color:#fff;">Dashboard</h3>
							</div>
						</div>
						<div class="col-md-2">
							<div class="breadcrumb" style="margin:30px 4px;">
								<a routerLink="/booking" class="text-danger">Go to dashboard</a>
							</div>
						</div>
					</div>

					<div class="box">
						<div class="dashboard-wrapper">
							<div class="row">
								<div class="col-xl">
									<div class="dashboard-box">
										<h4>Projects Completed</h4>
										<h1 class="pbh1"><i class="fas fa-briefcase pb1i"></i>2400</h1>
										<div class="progress">
											<div class="progress-bar pb1" role="progressbar" aria-valuenow="25"
												aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>60% Increase From Last Year</p>
									</div>
								</div>
								<div class="col-md">
									<div class="dashboard-box">
										<h4>New Bookings</h4>
										<h1 class="pbh2"><i class="fas fa-briefcase pb2i"></i>1010</h1>
										<div class="progress">
											<div class="progress-bar pb2" role="progressbar" aria-valuenow="25"
												aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>80% Increase From Last Year</p>
									</div>
								</div>
								<div class="col-md">
									<div class="dashboard-box">
										<h4>New Orders</h4>
										<h1 class="pbh3"><i class="fas fa-briefcase pb3i"></i>400</h1>
										<div class="progress">
											<div class="progress-bar pb3" role="progressbar" aria-valuenow="25"
												aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>20% Increase From Last Year</p>
									</div>
								</div>
							</div>
						</div>
						<div class="charts-section box">
							<div class="row">
								<div class="col-xl-6">
									<h4>Monthly Porgress</h4>
									<canvas id="myChart2" height="260"></canvas>
								</div>
								<div class="col-xl-6">
										<h4>Monthly Sales</h4>
									<canvas id="myChart3" height="260"></canvas>
								</div>
							</div>
						</div>
						<div class="content booking-content dashboard-bookings m-0">
							<div class="in-content-wrapper">
								<div class="row no-gutters">

									<div class="col">
										<div class="heading-messages">
											<h3>Bookings</h3>
										</div>
									</div>
								</div>

								<div class="box"  style="background-color:#fff;">

									<div class="row no-gutters">
										<div class="col">
											<table id="example" class="display table-hover table-responsive-xl">
												<thead>
													<tr>
														<th></th>
														<th>Name</th>
														<th>Mobile</th>
														<th>Email</th>
														<th>Arrive</th>
														<th>Depart</th>
														<th>Booking Type</th>
														<th>Status</th>
														<th>Payment</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td><img src="images/commenter-1.jpg" alt="table-img"
																class="img-fluid rounded-circle" width="40px"></td>
														<td>Shaheel</td>
														<td><a href="#">933322221</a></td>
														<td><a href="#">Shaheel@gmail.com</a></td>
														<td>11/06/2019</td>
														<td>15/06/2019</td>
														<td>Hotel</td>
														<td class="pending"><a href="#">Pending</a></td>
														<td class="unpaid"><a href="#">UnPaid</a></td>
														<td>
															<a href="#"><i class="fas fa-edit"></i></a>
															<a href="#"><i class="fas fa-trash-alt"></i></a>
														</td>
													</tr>
													<tr>
														<td><img src="images/commenter-2.jpg" alt="table-img"
																class="img-fluid rounded-circle" width="40px"></td>
														<td>Hunn dan</td>
														<td><a href="#">933334442</a></td>
														<td><a href="#">dan@gmail.com</a></td>
														<td>4/06/2019</td>
														<td>7/06/2019</td>
														<td>Tour</td>
														<td class="approved"><a href="#">Approved</a></td>
														<td class="paid"><a href="#">paid</a></td>
														<td>
															<a href="#"><i class="fas fa-edit"></i></a>
															<a href="#"><i class="fas fa-trash-alt"></i></a>
														</td>
													</tr>
													<tr>
														<td><img src="images/commenter-3.jpg" alt="table-img"
																class="img-fluid rounded-circle"></td>
														<td>Mary Jane</td>
														<td><a href="#">967835542</a></td>
														<td><a href="#">Jane@gmail.com</a></td>
														<td>8/06/2019</td>
														<td>12/06/2019</td>
														<td>Cruise</td>
														<td class="cancelled"><a href="#">Cancelled</a></td>
														<td class="unpaid"><a href="#">Unpaid</a></td>
														<td>
															<a href="#"><i class="fas fa-edit"></i></a>
															<a href="#"><i class="fas fa-trash-alt"></i></a>
														</td>
													</tr>
													<tr>
														<td><img src="images/commenter-3.jpg" alt="table-img"
																class="img-fluid rounded-circle"></td>
														<td>Foo mann</td>
														<td><a href="#">944334442</a></td>
														<td><a href="#">mann@gmail.com</a></td>
														<td>12/06/2019</td>
														<td>15/06/2019</td>
														<td>Flight</td>
														<td class="approved"><a href="#">Approved</a></td>
														<td class="paid"><a href="#">Paid</a></td>
														<td>
															<a href="#"><i class="fas fa-edit"></i></a>
															<a href="#"><i class="fas fa-trash-alt"></i></a>
														</td>
													</tr>


												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box dashbaord-reviews">

							<div class="row">
								<div class="col">
									<div class="details-text">
										<h4>Reviews</h4>
									</div>
								</div>
							</div>
							<div class="reviews-body">
								<ul>
									<li>
										<div class="media">
											<img src="images/commenter-2.jpg" class="mr-1 mr-sm-3 rounded-circle" alt="...">
											<div class="media-body">
												<h5>Mary Luise <small>By Ms. Sara hann</small></h5>
												<i class="fas fa-star"></i><i class="fas fa-star"></i><i
													class="fas fa-star"></i><i class="fas fa-star"></i><i
													class="fas null fa-star"></i>
												<span class="text-sm-right mb-3 float-sm-right">January 18, 2019</span>
												<p>
													Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
													ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
													viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
													Donec lacinia congue felis in faucibus.
												</p>
	
												<div class="media">
													<a href="#">
														<img src="images/commenter-3.jpg"
															class="mr-1 mr-sm-3 rounded-circle" alt="...">
													</a>
													<div class="media-body">
														<h5>Author <small>By R.Hujo Kelvin</small></h5>
														<p class="text-sm-right mb-3">January 17, 2019</p>
														<p>
															Thank you for your Support.
														</p>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>




    <script src="../../../admin/js/jquery-3.3.1.min.js"></script>
    <script src="../../../admin/js/popper.min.js"></script>

	
	<script src="../../../js/bootstrap.min4.2.1.js"></script>
	
	<script src="../../../admin/js/vendors/dropzone-5.5.0/dist/min/dropzone.min.js"></script>
	<script src="../../../js/customscriptfile.js"></script>


	<script>
		$(document).ready(function () {
			$('#example').DataTable();
		});
	</script>
	<script>
		var ctx = document.getElementById("myChart2");
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July"],
				datasets: [{
					label: '# of Sales',
					data: [2, 4, 2, 5, 1, 3, 6],
					backgroundColor: [
						'rgba(260, 103, 134, 0.1)',
						
					],
					borderColor: [
						'rgba(255,99,132,1)',
					],
					borderWidth: 2
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
						}
					}],
					yAxes: [{
						ticks: {
							fontColor: 'black',
						}
					}],
					xAxes: [{
						ticks: {
							fontColor: 'black',
							beginAtZero: true,
						}
					}]
				}
			}
		});
	
		var ctx = document.getElementById("myChart3");
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: ["January", "February", "March", "April", "May", "June"],
				datasets: [{
					label: '# of Bookings',
					data: [12, 19, 3, 5, 10, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderColor: [
						'rgba(255,99,132,1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
						}
					}],
					yAxes: [{
						ticks: {
							fontColor: 'black',
						}
					}],
					xAxes: [{
						ticks: {
							fontColor: 'black',
							beginAtZero: true,
						}
					}]
				}
			}
		});
		var ctx = document.getElementById("myChart3");
		var myChart = new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: ["January", "February", "March", "April", "May", "June"],
				datasets: [{
					label: '# of Bookings',
					data: [12, 19, 3, 5, 10, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderColor: [
						'rgba(255,99,132,1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
						}
					}],
					yAxes: [{
						ticks: {
							fontColor: 'black',
						}
					}],
					xAxes: [{
						ticks: {
							fontColor: 'black',
							beginAtZero: true,
						}
					}]
				}
			}
		});
	</script>



